$josefinFont: 'Josefin Sans', sans-serif;


@mixin josefinFontNormal() {
    font-family: $josefinFont;
    font-weight: 400;
}



@mixin josefinFontSemiBold() {
    font-family: $josefinFont;
    font-weight: 600;
}



@mixin josefinFontBold() {
    font-family: $josefinFont;
    font-weight: 700;
}
