@import "normalize";
@import "fonts";

$navigationMenuTextColor: #000;
$blogColor: #ad7cfc;
$primaryLeftColor: #ffcb05;
$blogTintColor:  rgba($color: #ad7cfc, $alpha: 0.8);
$highlightColor: #c6198b;
$primaryRightColor: #11b5c1;

// galery colors
$captionFirstColor: rgba($color: #c6198b, $alpha: 0.8);
$captionSecondColor: rgba($color: #05acd3, $alpha: 0.8);

.navigation-menu {
   
   // TODO: rething the navigation bottom line
   // This is a quickfix for Android Chrome browser (it appears a white line without this negative marghin)
    margin-top: -1px;
    
    &__link {
        font-size: 25px;
        line-height: 25px;
        letter-spacing: -2px;
        @include josefinFontNormal();
        color: $navigationMenuTextColor;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
                
        width: 50%;
        height: 47px;
        padding-top: 12px;
        display: block;
        float: left;
        box-sizing: border-box;
        
        &--first {
            background-color: $primaryLeftColor;
        }
        
        &--second {
            background-color: $primaryRightColor;
        }
        
        &--active {
            font-size: 28px;
            padding-top: 16px;
        }
    }
    
    &__bar {
        clear: both;
        height: 9px;
        
        &--first {
            background-color: $primaryLeftColor;
        }
        
        &--second {
            background-color: $primaryRightColor;
        }
    }
       
}

.gallery {
    
    &__image-container {
        margin-left: 38px;
        margin-right: 38px;
        position: relative;
        margin-bottom: 26px;
    }
    
    &__image {
        width: 100%;
        height: auto;
    }
    
    &__captions-container {
        font-size: 18px;
        line-height: 18px;
        @include josefinFontNormal();
        letter-spacing: 3px;
        text-align: center;
        height: 38px;
        position: absolute;
        bottom: 0;
        width: 100%;
        color: white;
        
        .gallery__image-container:nth-child(odd) & {
            background-color: $captionFirstColor;        
        }
        
        
        .gallery__image-container:nth-child(even) & {
            background-color: $captionSecondColor;        
        }
    }
    
    &__captions {
        margin: 10px;
        
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}