@font-face {
font-family: 'CaledoBold';
src: url('caledo_bold-webfont.eot');
src: local('☺'), url('caledo_bold-webfont.eot?#iefix') format('embedded-opentype'),url('caledo_bold-webfont.woff') format('woff'),url('caledo_bold-webfont.ttf') format('truetype'),url('caledo_bold-webfont.svg#CaledoBold') format('svg');
font-weight: normal;
font-style: normal;}

@font-face {
font-family: 'CaledoLight';
src: url('caledo_light-webfont.eot');
src: local('☺'), url('caledo_light-webfont.eot?#iefix') format('embedded-opentype'),url('caledo_light-webfont.woff') format('woff'),url('caledo_light-webfont.ttf') format('truetype'),url('caledo_light-webfont.svg#CaledoLight') format('svg');
font-weight: normal;
font-style: normal;}

